Repository DependencyTrack/hyades, pull requests merged in 2023-09, with the labels that each got.

#786 Update `cvssv3` assertion in `BomUploadProcessingE2ET`
  e2e/src/test/java/org/hyades/e2e/BomUploadProcessingE2ET.java
Labels: qa ⚖

#787 Add e2e test for delayed `BOM_PROCESSED` notification
  e2e/src/test/java/org/hyades/e2e/AbstractE2ET.java
  e2e/src/test/java/org/hyades/e2e/BomProcessedNotificationDelayedE2ET.java
Labels: qa ⚖

#788 Fix batches not being submitted even though `batchStore` contains records
  vulnerability-analyzer/src/main/java/org/hyades/processor/misc/ScannerResultAggregator.java
  vulnerability-analyzer/src/main/java/org/hyades/processor/retry/RetryingBatchProcessor.java
  vulnerability-analyzer/src/main/java/org/hyades/processor/scanner/ossindex/OssIndexProcessor.java
  vulnerability-analyzer/src/main/java/org/hyades/processor/scanner/snyk/SnykProcessor.java
Labels: bug 🐛, domain/vuln-analysis 🕵

#795 Ensure consistent formatting of notification timestamps
  e2e/src/test/java/org/hyades/e2e/BomProcessedNotificationDelayedE2ET.java
  e2e/src/test/java/org/hyades/e2e/BomUploadProcessingE2ET.java
  notification-publisher/src/main/java/org/hyades/notification/publisher/PublishContext.java
  notification-publisher/src/main/java/org/hyades/notification/publisher/Publisher.java
  notification-publisher/src/test/java/org/hyades/notification/NotificationRouterIT.java
  notification-publisher/src/test/java/org/hyades/notification/publisher/ConsolePublisherTest.java
  notification-publisher/src/test/java/org/hyades/notification/publisher/PublishContextTest.java
  notification-publisher/src/test/java/org/hyades/notification/publisher/WebhookPublisherTest.java
  proto/src/main/java/org/hyades/proto/ProtobufUtil.java
  proto/src/test/java/org/hyades/proto/ProtobufUtilTest.java
Labels: enhancement 🚀, domain/notifications 📢

#796 Fix potential `TopologyException` when running multiple vulnerability-analyzer instances
  vulnerability-analyzer/src/main/java/org/hyades/VulnerabilityAnalyzerTopology.java
Labels: bug 🐛, domain/vuln-analysis 🕵

#783 Make replicaCount configurable for mirror-service
  helm-charts/hyades/README.md
  helm-charts/hyades/templates/mirror-service/deployment.yaml
  helm-charts/hyades/values.yaml
Labels: enhancement 🚀, domain/vuln-mirroring 🪞, deployment 🏗

#717 Update Helm Chart and Minikube setup to accommodate for multi-replica API server
  README.md
  helm-charts/hyades/README.md
  helm-charts/hyades/templates/_helpers.tpl
  helm-charts/hyades/templates/api-server/deployment.yaml
  helm-charts/hyades/templates/api-server/pvc.yaml
  helm-charts/hyades/templates/api-server/service.yaml
  helm-charts/hyades/templates/api-server/servicemonitor.yaml
  helm-charts/hyades/templates/frontend/service.yaml
  helm-charts/hyades/templates/notification-publisher/deployment.yaml
  helm-charts/hyades/templates/repo-meta-analyzer/deployment.yaml
  helm-charts/hyades/templates/secret.yaml
  helm-charts/hyades/values-minikube.yaml
  helm-charts/hyades/values.yaml
Labels: enhancement 🚀, api-server 🏰, deployment 🏗

#806 Bump Redpanda images to `v23.2.8`
  docker-compose.yml
  e2e/src/test/java/org/hyades/e2e/AbstractE2ET.java
  mirror-service/src/main/resources/application.properties
  notification-publisher/src/main/resources/application.properties
  repository-meta-analyzer/src/main/resources/application.properties
  vulnerability-analyzer/src/main/resources/application.properties
Labels: dependencies, docker
