Repository DependencyTrack/hyades, pull requests merged in 2023-05, with the labels that each got.

#533 Update API server Grafana dashboard
  docker-compose.yml
  monitoring/grafana/dashboards/apiserver_dashboard.json
Labels: api-server, observability

#534 `TOPICS.md`: Specify compaction for changelog topics
  TOPICS.md
Labels: documentation 📃

#536 Fix mirror service demo setup
  docker-compose.yml
  mirror-service/src/main/java/org/hyades/vulnmirror/datasource/github/GitHubReflectionConfiguration.java
  mirror-service/src/main/java/org/hyades/vulnmirror/datasource/nvd/NvdReflectionConfiguration.java
  mirror-service/src/main/resources/application.properties
  notification-publisher/src/main/resources/application.properties
  repository-meta-analyzer/src/main/resources/application.properties
  vulnerability-analyzer/src/main/resources/application.properties
Labels: domain/vuln-mirroring 🪞

#538 Optimize state store usage
  CONFIGURATION.md
  TOPICS.md
  proto/src/main/proto/org/hyades/vulnanalysis/internal/v1beta1/vuln_analysis_internal.proto
  vulnerability-analyzer/src/main/java/org/hyades/VulnerabilityAnalyzerTopology.java
  vulnerability-analyzer/src/main/java/org/hyades/config/RocksDbConfigSetter.java
  vulnerability-analyzer/src/main/java/org/hyades/config/StateStoreConfig.java
  vulnerability-analyzer/src/main/java/org/hyades/processor/misc/ScannerResultAggregator.java
  vulnerability-analyzer/src/main/java/org/hyades/processor/misc/ScannerResultAggregatorSupplier.java
  vulnerability-analyzer/src/main/java/org/hyades/processor/misc/TombstoneEmittingProcessorSupplier.java
  vulnerability-analyzer/src/main/java/org/hyades/processor/scanner/ossindex/OssIndexProcessorConfiguration.java
  vulnerability-analyzer/src/main/java/org/hyades/processor/scanner/snyk/SnykProcessorConfiguration.java
  vulnerability-analyzer/src/main/java/org/hyades/util/StateStoreUtil.java
  vulnerability-analyzer/src/main/resources/application.properties
  vulnerability-analyzer/src/test/java/org/hyades/processor/misc/ScannerResultAggregatorTest.java
  vulnerability-analyzer/src/test/java/org/hyades/processor/misc/TombstoneEmittingProcessorTest.java
Labels: enhancement 🚀, domain/vuln-analysis 🕵

#550 set limit to 100 in batch
  vulnerability-analyzer/src/main/java/org/hyades/processor/retry/RetryingBatchProcessor.java
  vulnerability-analyzer/src/main/java/org/hyades/processor/scanner/ossindex/OssIndexProcessor.java
  vulnerability-analyzer/src/main/java/org/hyades/processor/scanner/snyk/SnykProcessor.java
Labels: bug 🐛, domain/vuln-analysis 🕵

#552 Update supported PURL types for Snyk and bump default API version
  vulnerability-analyzer/src/main/java/org/hyades/processor/scanner/snyk/SnykProcessorSupplier.java
  vulnerability-analyzer/src/main/resources/application.properties
  vulnerability-analyzer/src/test/java/org/hyades/processor/scanner/snyk/SnykProcessorSupplierTest.java
Labels: enhancement 🚀, domain/vuln-analysis 🕵

#551 Register `RocksDbConfigSetter` for reflection
  vulnerability-analyzer/src/main/java/org/hyades/config/RocksDbConfigSetter.java
Labels: bug 🐛, domain/vuln-analysis 🕵

#556 Add helm chart
  .github/workflows/helm-ci.yml
  MINIKUBE.md
  README.md
  helm-charts/hyades/Chart.yaml
  helm-charts/hyades/README.md
  helm-charts/hyades/templates/_helpers.tpl
  helm-charts/hyades/templates/mirror-service/deployment.yaml
  helm-charts/hyades/templates/notification-publisher/deployment.yaml
  helm-charts/hyades/templates/repo-meta-analyzer/deployment.yaml
  helm-charts/hyades/templates/vuln-analyzer/service.yaml
  helm-charts/hyades/templates/vuln-analyzer/statefulset.yaml
  helm-charts/hyades/values-minikube.yaml
  helm-charts/hyades/values.yaml
  valueExamplesForDeploymentCharts/mirror-service/values.yaml
  valueExamplesForDeploymentCharts/vulnerability-analyzer/values.yaml
Labels: enhancement 🚀, deployment

#566 Update `TOPICS.md`
  TOPICS.md
Labels: documentation 📃

#565 Port tests for `SendMailPublisher`
  commons/src/main/java/org/hyades/model/ManagedUser.java
  commons/src/main/java/org/hyades/persistence/ManagedUserRepository.java
  commons/src/main/java/org/hyades/persistence/UserRepository.java
  commons/src/main/resources/migrations/postgres/V0.0.1__API-Server-4.8.2.sql
  commons/src/test/java/org/hyades/persistence/ManagedUserRepositoryTest.java
  commons/src/test/java/org/hyades/persistence/UserRepositoryTest.java
  notification-publisher/src/main/java/org/hyades/notification/publisher/SendMailPublisher.java
  notification-publisher/src/test/java/org/hyades/notification/publisher/SendMailPublisherTest.java
Labels: enhancement 🚀, domain/notifications 📢

#569 Helm: Add port definition to vuln analyzer service
  helm-charts/hyades/templates/vuln-analyzer/service.yaml
Labels: enhancement 🚀, domain/vuln-analysis 🕵, deployment

#577 Bump various container image versions
  docker-compose.yml
  e2e/src/test/java/org/hyades/e2e/AbstractE2ET.java
  mirror-service/src/main/resources/application.properties
  repository-meta-analyzer/src/main/resources/application.properties
  vulnerability-analyzer/src/main/resources/application.properties
Labels: enhancement 🚀

#570 Helm: Add API server and frontend
  helm-charts/hyades/README.md
  helm-charts/hyades/templates/_helpers.tpl
  helm-charts/hyades/templates/api-server/ingress.yaml
  helm-charts/hyades/templates/api-server/pvc.yaml
  helm-charts/hyades/templates/api-server/service.yaml
  helm-charts/hyades/templates/api-server/statefulset.yaml
  helm-charts/hyades/templates/frontend/deployment.yaml
  helm-charts/hyades/templates/frontend/ingress.yaml
  helm-charts/hyades/templates/frontend/service.yaml
  helm-charts/hyades/values-minikube.yaml
  helm-charts/hyades/values.yaml
Labels: enhancement 🚀, deployment

#580 Capture physical allocated memory (RSS) of the JVM process
  commons/pom.xml
  commons/src/main/java/org/hyades/common/metrics/ExtraJvmMetricsBinder.java
  pom.xml
Labels: enhancement 🚀

#585 Replace Flyway with testcontainers init script
  commons/pom.xml
  commons/src/test/resources/application.properties
  notification-publisher/pom.xml
  notification-publisher/src/main/resources/application.properties
  repository-meta-analyzer/pom.xml
  repository-meta-analyzer/src/main/resources/application.properties
  repository-meta-analyzer/src/test/java/org/hyades/RepositoryMetaAnalyzerIT.java
  vulnerability-analyzer/pom.xml
  vulnerability-analyzer/src/main/resources/application.properties
  vulnerability-analyzer/src/test/java/org/hyades/VulnerabilityAnalyzerIT.java
Labels: technical debt 💸

#583 Revise labels in Helm chart
  helm-charts/hyades/templates/_helpers.tpl
  helm-charts/hyades/templates/api-server/ingress.yaml
  helm-charts/hyades/templates/api-server/pvc.yaml
  helm-charts/hyades/templates/api-server/service.yaml
  helm-charts/hyades/templates/api-server/statefulset.yaml
  helm-charts/hyades/templates/frontend/deployment.yaml
  helm-charts/hyades/templates/frontend/ingress.yaml
  helm-charts/hyades/templates/frontend/service.yaml
  helm-charts/hyades/templates/mirror-service/deployment.yaml
  helm-charts/hyades/templates/notification-publisher/deployment.yaml
  helm-charts/hyades/templates/repo-meta-analyzer/deployment.yaml
  helm-charts/hyades/templates/vuln-analyzer/service.yaml
  helm-charts/hyades/templates/vuln-analyzer/statefulset.yaml
Labels: enhancement 🚀, deployment

#579 Refactor affected range parsing
  mirror-service/src/main/java/org/hyades/vulnmirror/datasource/nvd/NvdToCyclonedxParser.java
  mirror-service/src/main/java/org/hyades/vulnmirror/datasource/osv/OsvToCyclonedxParser.java
  mirror-service/src/test/java/org/hyades/vulnmirror/datasource/nvd/NvdToCyclonedxParserTest.java
  mirror-service/src/test/java/org/hyades/vulnmirror/datasource/osv/OsvToCyclonedxParserTest.java
  mirror-service/src/test/resources/datasource/nvd/cve-vuln.json
Labels: bug 🐛, domain/vuln-mirroring 🪞

#588 Fix inconsistent usage of labels in Helm chart
  helm-charts/hyades/templates/api-server/ingress.yaml
  helm-charts/hyades/templates/api-server/pvc.yaml
  helm-charts/hyades/templates/frontend/deployment.yaml
  helm-charts/hyades/templates/frontend/ingress.yaml
  helm-charts/hyades/templates/mirror-service/deployment.yaml
  helm-charts/hyades/templates/repo-meta-analyzer/deployment.yaml
Labels: bug 🐛, deployment
